<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gym Pose Tracker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <button id="toggleBtn">☰</button>
  <div class="circle1"></div>
  <div class="circle2"></div>
  <div id="sidebar" class="hidden">
    <div class="sidebar-item" exercise="bicep_curl">Bicep Curl</div>
    <div class="sidebar-item" exercise="lateral_raise">Lateral Raise</div>
    <div class="sidebar-item" exercise="shoulder_press">Shoulder Press</div>
    <div class="sidebar-item" exercise="dumbbell_row">Dumbbell Row</div>
    <div class="sidebar-item" exercise="squat">Squat</div>
    <div class="sidebar-item" exercise="pushup">Push Up</div>
    <div style="display: flex; position: absolute; bottom: 0;">
        <div class="actionBtn" id="startBtn">Start</div>
        <div class="actionBtn" id="stopBtn">Stop</div>
    </div>
  </div>

  <div id="main" class="full">
    <p class="color-gradient-text heading">BioMimic</p>
    <p class="gradient-text sub-heading">AI Pose Estimation Gym Tracker</p>
    <div style="margin-top: 1rem;">
        <p id="exercise-select">Select Exercise:</p>
    </div>
    
    <div>
        <div class="single-rep-container">
            <div>
                <p class="info">Stage: <span style="font-weight: bold;" id="stage">-</span></p>
                <p class="info">Reps: <span style="font-weight: bold;" id="rep-count">0</span></p>
            </div>            
        </div>
        <div class="double-rep-container">
            <div>
                <p class="info">Stage: <span style="font-weight: bold;" id="left-stage">-</span></p>
                <p class="info">Left Reps: <span style="font-weight: bold;" id="left-rep-count">0</span></p>
            </div>
            <div>
                <p class="info">Stage: <span style="font-weight: bold;" id="right-stage">-</span></p>
                <p class="info">Right Reps: <span style="font-weight: bold;" id="right-rep-count">0</span></p>
            </div>
        </div>
    </div>    
    <div class="wrapper">
        <div id="video-container">
            <img id="video-feed" src="{{ url_for('video_feed') }}">
        </div>
    </div>
  </div>


    <script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>
